/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/channel-artifacts/*.pb
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/udesc/*
organizations/fabric-ca/public/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
